body {
    background: url("background.jpg");
    background-repeat : no-repeat;
    background-size: cover;
}
a :hover{
    color: red; transition: 0.3s ease;
}
table:hover {
    transform: scale(1.20); transition: transform .5s ease;
}